/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-6e078a65-ji80xqg2 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2.master.item-box   {
		
						position: relative;
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-item-links span:hover  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2.master.item-box   {
		
						padding-left: 3%;
						
						width: 94%;
						
						padding-right: 3%;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: right;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-item-links span  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 #sr-basket-widget *  { font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						margin-top: 15px;
						
						padding-left: 10px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
						
						direction: ltr;
						
						margin-left: 3px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-title  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-body h1  { font-size:calc( 10px + ( 30rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-right: 10px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: 'Rozha One';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-item-links.allow-bg-color  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .submenu  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-right: 10px;
						
						margin-top: 0px;
						
						margin-left: 10px;
						
						margin-bottom: 10px;
						
						width: 60px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .stripe-background  {
		
						margin-left: -3%;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-item-links span:before  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .effect-tester  { 
						background-color: rgb(60, 60, 60);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: center;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .middle_layout .helper-div  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-subtitle  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-ji80xqg2 .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.0em;
						
						margin-right: 10px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						margin-bottom: 15px;
						
						font-family: Raleway;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-6e078a65-1snhkv0w version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .Subtitle  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .Title  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .raw-container  {
		
						padding-bottom: 30px;
						
						padding-right: 5px;
							
		}
	
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .item-links span  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-1snhkv0w .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-6e078a65-1snhkv0w.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: "Playfair Display";
				
						letter-spacing: -0.05em;
				
						line-height: 1.7em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Arial;
				
						letter-spacing: 0.0em;
				
						border-width: 2px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Arial;
				
						letter-spacing: -0.0em;
				
						direction: rtl;
				
						line-height: 1.3em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						letter-spacing: 0.0em;
				
						font-family: Abel;
				
						line-height: 1.7em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 107px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 157px)!important;
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-e5c773e897854372963778a415e36c37 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-e5c773e897854372963778a415e36c37 .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-e5c773e897854372963778a415e36c37 .Subtitle  ,  .master .style-e5c773e897854372963778a415e36c37 .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-e5c773e897854372963778a415e36c37 .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-e5c773e897854372963778a415e36c37 .Title  ,  .master .style-e5c773e897854372963778a415e36c37 .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-e5c773e897854372963778a415e36c37 .link-wrapper  {
		
						max-width: 1238px;
							
		}
	 .master .style-e5c773e897854372963778a415e36c37 .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	
	 .master .style-e5c773e897854372963778a415e36c37 .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-e5c773e897854372963778a415e36c37 .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-e5c773e897854372963778a415e36c37 .item-links span  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	 .master .style-e5c773e897854372963778a415e36c37 .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-e5c773e897854372963778a415e36c37 .body-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-e5c773e897854372963778a415e36c37.master.container > #children  {
		
						background-color: rgb(248, 248, 248);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-6e078a65-mukezzut version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-title  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-body h1  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-right: 20px;
						
						margin-top: 5px;
						
						margin-left: 20px;
						
						margin-bottom: 5px;
						
						font-family: Arial;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-link-img  {
		
						width: 27px;
						
						margin: 8px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut  .preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut  .preview-content-holder  {
		
						text-align: left;
						
						margin-right: 20px;
						
						margin-top: 35px;
						
						margin-left: 20px;
						
						margin-bottom: 35px;
						
						background-color: rgba(246, 239, 217, 0);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-item-links span  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut #sr-basket-widget *  { 
						color: #ffffff;
						
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );	
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-divider  {
		
						border-color: rgb(255, 255, 255);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 40px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						padding-right: 20px;
						
						padding-left: 20px;
						
						width: 40px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 25px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .background-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .middle_layout .helper-div  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-subtitle  ,  .style-e5c773e897854372963778a415e36c37 .style-6e078a65-mukezzut .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(160, 160, 160);
						
						letter-spacing: 0.2em;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-951f5199-f0sujcmp version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 800px;
						
						margin-right: 30px;
						
						margin-top: 50px;
						
						margin-left: 30px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .item-content:not(.blocks_layout)  {
		
						background-color: rgb(152, 52, 52);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .inner-pic  {
		
						opacity: 0.8;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .blocks-inner-pic  {
		
						color: rgb(0, 0, 0);
						
						width: 620px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .background-div  {
			
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .preview-title  ,  .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .preview-body h1  { 
						font-family: Oswald;
						font-size:calc( 10px + ( 118rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .preview-item-links span  ,  .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 30px;
						
						margin-top: 30px;
						
						padding-left: 30px;
						
						padding-top: 10px;
						
						border-width: 2px;
						
						background-color: rgba(95, 184, 148, 0);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .blocks-preview-body  {
		
						color: rgb(0, 0, 0);
						
						margin-bottom: 10px;
						
						line-height: 1.7em;
						
						margin-top: 10px;
						
						max-width: 600px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .stripe-background  {
		
						margin-top: -70px;
						
						margin-left: -6%;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .preview-element.icon-source  {
		
						width: 60px;
						
						margin-bottom: 15px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .blocks-preview-content-holder  {
		
						text-align: left;
						
						max-width: 600px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .blocks-preview-subtitle  {
		
						color: rgb(83, 83, 83);
						font-size:calc( 10px + ( 16rem - 10rem ) );
						font-family: 'Playfair Display';
						
						margin-top: 10px;
						
						margin-bottom: 10px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .preview-item-links span:hover  ,  .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .inner-pic-holder  {
		
						background-color: rgb(54, 117, 200);
							
		}
	
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .blocks-preview-icon-holder .icon-source  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .blocks-preview-title  {
		
						line-height: 1.3em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: 'Playfair Display';
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 600px;
						
						margin-top: 5px;
						
						line-height: 1.4em;
							
		}
	
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .middle_layout .helper-div  ,  .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .preview-subtitle  ,  .style-e5c773e897854372963778a415e36c37 .style-951f5199-f0sujcmp .preview-body h2  { 
						font-style: italic;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						line-height: 1.2em;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: 'Times New Roman';
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
