/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-6e078a65-1snhkv0w version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-6e078a65-1snhkv0w .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-6e078a65-1snhkv0w .Subtitle  ,  .master .style-6e078a65-1snhkv0w .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-6e078a65-1snhkv0w .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-6e078a65-1snhkv0w .Title  ,  .master .style-6e078a65-1snhkv0w .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-6e078a65-1snhkv0w .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-6e078a65-1snhkv0w .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-6e078a65-1snhkv0w .raw-container  {
		
						padding-bottom: 30px;
						
						padding-right: 5px;
							
		}
	
	 .master .style-6e078a65-1snhkv0w .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-6e078a65-1snhkv0w .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-6e078a65-1snhkv0w .item-links span  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	 .master .style-6e078a65-1snhkv0w .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-6e078a65-1snhkv0w .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-6e078a65-1snhkv0w.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: "Playfair Display";
				
						letter-spacing: -0.05em;
				
						line-height: 1.7em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Arial;
				
						letter-spacing: 0.0em;
				
						border-width: 2px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Arial;
				
						letter-spacing: -0.0em;
				
						direction: rtl;
				
						line-height: 1.3em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						letter-spacing: 0.0em;
				
						font-family: Abel;
				
						line-height: 1.7em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 107px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 157px)!important;
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-f2b4388d-0rzogh2f version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 400px;
						
						padding-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 20px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .inner-pic  {
		
						background-size: contain;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						font-family: 'Times New Roman';
						
						color: rgb(60, 60, 60);
						
						padding-bottom: 10px;
						
						border-color: rgb(74, 74, 74);
						
						letter-spacing: 0.1em;
						
						padding-right: 20px;
						
						margin-top: 45px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 50px;
						
						border-width: 1px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .blocks-preview-item-links .Link:hover  {
		
						color: rgb(57, 57, 57);
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .preview-title  ,  .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 22rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-top: 5px;
						
						margin-bottom: 5px;
						
						font-family: Montserrat;
						
						background-color: rgba(4, 4, 4, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .preview-item-links span  ,  .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(128, 128, 128);
						
						padding-bottom: 10px;
						
						border-color: rgb(128, 128, 128);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						border-radius: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .blocks-preview-body  {
		
						line-height: 1.5em;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .preview-element.icon-source  {
		
						width: 50px;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						text-align: center;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						margin-bottom: 30px;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f.item-box > .item-wrapper   {
		
						max-width: 1000px;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .blocks-preview-subtitle  {
		
						color: rgb(0, 0, 0);
						
						margin-bottom: 15px;
						
						font-family: Raleway;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-top: 10px;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .preview-item-links span:before  ,  .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .effect-tester  { 
						background-color: rgb(128, 128, 128);
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: top;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .preview-item-links span:hover  ,  .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .preview-element.Link.hover-tester  { 
						background-color: rgb(128, 128, 128);
						
						color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .blocks-preview-title  {
		
						text-transform: uppercase;
						font-size:calc( 10px + ( 30rem - 10rem ) );
						font-family: Montserrat;
						
						letter-spacing: 0.0em;
						
						margin-bottom: 10px;
							
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(99, 99, 99);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .blocks-preview-item-links .Link  {
		
						text-decoration: underline;
						font-size:calc( 10px + ( 20rem - 10rem ) );	
		}
	 .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .preview-subtitle  ,  .style-6e078a65-1snhkv0w .style-f2b4388d-0rzogh2f .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(57, 57, 57);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-8ab97d1c-1i6hnza7 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 400px;
						
						margin-right: 50px;
						
						margin-top: 50px;
						
						margin-left: 50px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-divider  {
		
						border-bottom-width: 2px;
						
						width: 10%;
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .inner-pic  {
		
						opacity: 1.0;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-subtitle-holder  {
		
						max-width: 1050px;
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .background-div  {
			
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-title  ,  .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-item-links span  ,  .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 11rem - 10rem ) );
						margin-right: 10px;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 30px;
						
						padding-left: 30px;
						
						border-radius: 17px;
						
						padding-top: 10px;
						
						font-family: Raleway;
						
						background-color: rgba(0, 0, 0, 0);
						
						font-weight: bold;
						
						margin-left: 10px;
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 60px;
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .background-image-div  {
		
						color: rgb(0, 0, 0);
						
						opacity: 0.23;
						
		    			-webkit-filter: grayscale(100%);	
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-item-links span:hover  ,  .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-item-links span:before  ,  .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 800px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .middle_layout .helper-div  ,  .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-subtitle  ,  .style-6e078a65-1snhkv0w .style-8ab97d1c-1i6hnza7 .preview-body h2  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-8ab97d1c-1i6hnza7 #vbid-8ab97d1c-0pcncze1 .preview-content-holder{
				
							text-align : left;
					
				}


 .style-8ab97d1c-1i6hnza7 #vbid-8ab97d1c-lb1wlngg.inner-pic{
				
							background-position : 50% 50%;
					
				} .style-8ab97d1c-1i6hnza7 #vbid-8ab97d1c-v22rkfln.inner-pic{
				
							background-position : 52.3281% 0%, 52.3281% 0%;
					
				}











 .style-8ab97d1c-1i6hnza7 #vbid-8ab97d1c-0pcncze1 .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-6e078a65-ji80xqg2 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2.master.item-box   {
		
						position: relative;
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-item-links span:hover  ,  .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2.master.item-box   {
		
						padding-left: 3%;
						
						width: 94%;
						
						padding-right: 3%;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: right;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-item-links span  ,  .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 #sr-basket-widget *  { font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						margin-top: 15px;
						
						padding-left: 10px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
						
						direction: ltr;
						
						margin-left: 3px;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-title  ,  .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-body h1  { font-size:calc( 10px + ( 30rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-right: 10px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: 'Rozha One';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-item-links.allow-bg-color  ,  .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .submenu  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-right: 10px;
						
						margin-top: 0px;
						
						margin-left: 10px;
						
						margin-bottom: 10px;
						
						width: 60px;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .stripe-background  {
		
						margin-left: -3%;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-item-links span:before  ,  .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .effect-tester  { 
						background-color: rgb(60, 60, 60);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: center;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .middle_layout .helper-div  ,  .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-subtitle  ,  .style-6e078a65-1snhkv0w .style-6e078a65-ji80xqg2 .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.0em;
						
						margin-right: 10px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						margin-bottom: 15px;
						
						font-family: Raleway;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-6e078a65-mukezzut version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-title  ,  .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-body h1  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-right: 20px;
						
						margin-top: 5px;
						
						margin-left: 20px;
						
						margin-bottom: 5px;
						
						font-family: Arial;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-link-img  {
		
						width: 27px;
						
						margin: 8px;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut  .preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut  .preview-content-holder  {
		
						text-align: left;
						
						margin-right: 20px;
						
						margin-top: 35px;
						
						margin-left: 20px;
						
						margin-bottom: 35px;
						
						background-color: rgba(246, 239, 217, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-item-links span  ,  .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut #sr-basket-widget *  { 
						color: #ffffff;
						
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );	
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-divider  {
		
						border-color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 40px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						padding-right: 20px;
						
						padding-left: 20px;
						
						width: 40px;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 25px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .background-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .middle_layout .helper-div  ,  .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-subtitle  ,  .style-6e078a65-1snhkv0w .style-6e078a65-mukezzut .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(160, 160, 160);
						
						letter-spacing: 0.2em;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-cdf9e87b-0rzogh2f version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 400px;
						
						padding-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 20px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .inner-pic  {
		
						background-size: contain;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						font-family: 'Times New Roman';
						
						color: rgb(60, 60, 60);
						
						padding-bottom: 10px;
						
						border-color: rgb(74, 74, 74);
						
						letter-spacing: 0.1em;
						
						padding-right: 20px;
						
						margin-top: 45px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 50px;
						
						border-width: 1px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .blocks-preview-item-links .Link:hover  {
		
						color: rgb(57, 57, 57);
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .preview-title  ,  .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-top: 15px;
						
						margin-bottom: 15px;
						
						font-family: Montserrat;
						
						background-color: rgba(4, 4, 4, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .preview-item-links span  ,  .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(128, 128, 128);
						
						padding-bottom: 10px;
						
						border-color: rgb(128, 128, 128);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						border-radius: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .blocks-preview-body  {
		
						line-height: 1.5em;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .preview-element.icon-source  {
		
						width: 50px;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						text-align: center;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						margin-bottom: 30px;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f.item-box > .item-wrapper   {
		
						max-width: 1000px;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .blocks-preview-subtitle  {
		
						color: rgb(0, 0, 0);
						
						margin-bottom: 15px;
						
						font-family: Arial;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						margin-top: 10px;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .preview-item-links span:before  ,  .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .effect-tester  { 
						background-color: rgb(128, 128, 128);
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: top;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .preview-item-links span:hover  ,  .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .preview-element.Link.hover-tester  { 
						background-color: rgb(128, 128, 128);
						
						color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .blocks-preview-title  {
		font-size:calc( 10px + ( 30rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-bottom: 20px;
						
						font-family: Montserrat;
							
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .preview-body  {
		
						line-height: 1.0em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(99, 99, 99);
						
						max-width: 500px;
						
						margin-top: 20px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .blocks-preview-item-links .Link  {
		
						text-decoration: underline;
						font-size:calc( 10px + ( 20rem - 10rem ) );	
		}
	 .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .preview-subtitle  ,  .style-6e078a65-1snhkv0w .style-cdf9e87b-0rzogh2f .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(57, 57, 57);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-56392281-bmxtjbjr version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .title-holder  {
		
						text-align: center;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .preview.image-cover  {
		
						background-color: rgba(255, 255, 255, 0);
						
						margin-top: 20px;
						
						margin-bottom: 20px;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .Title  ,  .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr  .preview-content-holder  {
		
						text-align: center;
						
						background-color: rgba(0, 0, 0, 0);
						
						max-width: 300px;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .blocks-preview-icon-holder .icon-source  {
		
						width: 70px;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .blocks-preview-item-links .Link:hover  {
		
						color: rgb(0, 0, 0);
						
						background-color: rgb(216, 216, 216);
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .background-div  {
		
						background-size: contain;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr.master.item-box   {
		
						background-color: rgb(49, 62, 75);
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .preview-title  ,  .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(239, 239, 239);
						
						letter-spacing: 0.0em;
						
						margin-bottom: 0px;
						
						font-family: Montserrat;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .preview-item-links span  ,  .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						border-radius: 19px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
						
						background-color: rgb(188, 188, 188);
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .blocks-preview-body  {
		
						color: rgb(255, 255, 255);
						
						margin-bottom: 10px;
						
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						line-height: 1.5em;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						margin-bottom: 20px;
						
						margin-top: 0px;
						
						width: 50px;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						padding-left: 0px;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .Subtitle  ,  .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .blocks-preview-subtitle  {
		
						color: rgb(202, 202, 202);
						
						margin-top: 10px;
						
						font-family: Raleway;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						margin-bottom: 10px;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .preview-icon-holder  {
		
		    			-webkit-filter: invert(100%);filter: invert(100%);
						text-align: center;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .preview-item-links span:hover  ,  .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .blocks-preview-divider  {
		
						border-color: rgb(255, 255, 255);
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .preview-item-links span:before  ,  .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .effect-tester  { 
						background-color: rgb(216, 216, 216);
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .inner-pic  {
		
						opacity: 1;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .blocks-preview-title  {
		font-size:calc( 10px + ( 20rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(140, 140, 140);
						
						max-width: 500px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(216, 216, 216);
						
						padding-bottom: 5px;
						
						border-color: rgb(216, 216, 216);
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 18px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .pic-side:after  ,  .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .item-effect-tester  ,  .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .sub.item-box:after  { 
						background-color: rgb(188, 188, 188);
							
		}
	 .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .preview-subtitle  ,  .style-6e078a65-1snhkv0w .style-56392281-bmxtjbjr .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						font-family: Raleway;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/































 .style-56392281-bmxtjbjr #vbid-56392281-0z9hcbun.inner-pic{
				
							background-size : contain;
					
				} .style-56392281-bmxtjbjr #vbid-56392281-j5k68btz.inner-pic{
				
							background-size : contain;
					
				} .style-56392281-bmxtjbjr #vbid-56392281-fmab0be6.inner-pic{
				
							background-size : contain;
					
				} .style-56392281-bmxtjbjr #vbid-56392281-qarnwcbu.inner-pic{
				
							background-size : contain;
					
				} .style-56392281-bmxtjbjr #vbid-56392281-vvotqf28.inner-pic{
				
							background-size : contain;
					
				} .style-56392281-bmxtjbjr #vbid-56392281-epqz3jaq.inner-pic{
				
							background-size : contain;
					
				} .style-56392281-bmxtjbjr #vbid-56392281-phzty6co.inner-pic{
				
							background-size : contain;
					
				} .style-56392281-bmxtjbjr #vbid-56392281-efkokrp4.inner-pic{
				
							background-size : contain;
					
				}









/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-62797c3c-gnw6mw7m version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 485px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-divider  {
		
						border-color: rgb(184, 184, 184);
						
						width: 100%;
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .inner-pic  {
		
						opacity: 1;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-subtitle-holder  {
		
						max-width: 1050px;
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .background-div  {
			
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m.master.item-box   {
		
						background-color: rgb(49, 62, 75);
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-title  ,  .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 35rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(223, 223, 223);
						
						letter-spacing: -0.05em;
						
						margin-top: 10px;
						
						line-height: 1.0em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-item-links span  ,  .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						padding-right: 10px;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-right: 10px;
						
						margin-top: 30px;
						
						padding-left: 10px;
						
						border-radius: 16px;
						
						padding-top: 10px;
						
						border-width: 2px;
						
						background-color: rgba(95, 184, 148, 0);
						
						margin-left: 10px;
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-element.icon-source  {
		
						width: 90px;
						
						margin-bottom: 15px;
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-item-links span:hover  ,  .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-element.Link.hover-tester  { 
						color: rgb(188, 188, 188);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .inner-pic-holder  {
		
						background-color: rgb(49, 62, 75);
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-item-links span:before  ,  .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .effect-tester  { 
						background-color: rgb(175, 200, 81);
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 600px;
						
						margin-top: 0px;
						
						line-height: 1.4em;
							
		}
	
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .middle_layout .helper-div  ,  .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-subtitle  ,  .style-6e078a65-1snhkv0w .style-62797c3c-gnw6mw7m .preview-body h2  { 
						line-height: 1.3em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-62797c3c-gnw6mw7m #vbid-62797c3c-lddbafjx .preview-content-holder{
				
							text-align : center;
					
				}


 .style-62797c3c-gnw6mw7m #vbid-62797c3c-hsblbs4f.inner-pic{
				
							background-position : 50% 50%;
					
				} .style-62797c3c-gnw6mw7m #vbid-62797c3c-tigbrnsc.inner-pic{
				
							background-position : 9.4% 50.6347%;
					
				}











 .style-62797c3c-gnw6mw7m #vbid-62797c3c-lddbafjx .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
